@import "tailwindcss";
 
@custom-variant dark (&:is(.dark *));


:root {
  /* gray variant */
  --gray-1: oklch(0.1776 0 0);
  --gray-2: #191919;
  --gray-4: #2a2a2a;
  --gray-5: #3a3a3a;
  --gray-7: #484848;
  --gray-11: #3d3d3d;
  --gray-12: oklch(36.768% 0.00004 271.152 / 0.596);
  --gray-13: oklch(44.953% 0.00005 271.152 / 0.993);
  --gray-14: oklch(51.73% 0.00006 271.152 / 0.342);
  /* white variant */
  --white-1: oklch(0.9095 0 0);
  --white-2: oklch(84.522% 0.0001 271.152);
  --white-3: oklch(42.024% 0.00005 271.152);
  /* blue */
  --blue-1: #1e75f8;
  --blue-2: #1e75f8;
  /* font */
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.dark {

}

@theme inline {
  --color-background: var(--gray-1);
  --color-background-2: var(--gray-2);
  --color-foreground: var(--white-1);
  /* border */
  --color-border-1: var(--gray-12);
  --color-border-2: var(--gray-13);
  /* other */
  --color-grid: var(--gray-4);
  --color-link: var(--gray-5);
  --color-hover: var(--gray-12);
  --color-hover-2: var(--gray-14);
  /* icon */
  --color-icon: var(--white-2);
  --color-icon-2: var(--white-3);
  /* blue variant */
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  /* font family */
  --font-family: var(--default-font-family);
  /* animation */
  --animate-tooltip-in: zoom-in-bottom-left 0.1s ease-in-out;
  --animate-tooltip-out: zoom-out-bottom-left 0.1s ease-in-out;
}

@layer base {
  body {
    @apply bg-background text-foreground font-family;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-family: var(--default-font-family);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes zoom-in-bottom-left {
  from {
    transform: scale(80%) translate(-10%, 10%);
    transform-origin: bottom left;
    opacity: 0;
  }
  to {
    transform: scale(1) translate(0, 0);
    transform-origin: bottom left;
    opacity: 1;
  }
}

@keyframes zoom-out-bottom-left {
  from {
    transform: scale(1) translate(0, 0);
    transform-origin: bottom left;
    opacity: 1;
  }
  to {
    transform: scale(80%) translate(-10%, 10%);
    transform-origin: bottom left;
    opacity: 0;
  }
}